@import "./_vars.scss";
.main {
  display: flex;
  width: 1480px;
  // height: 80vh;
  margin: auto;
  padding: 0 0 137px 0;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 30px;
  box-shadow: 30px 30px 20px 0px rgba(146, 136, 255, 0.4);
  background: rgb(255, 255, 255);

  // .main__wrapper
  &__wrapper {
    width: 100%;
  }

  // .main__header
  &__header {
    display: flex;
    gap: 20px;
    padding: 51px 64px 65px 77px;
  }

  // .main__btn
  &__btn {
    padding: 12px 42px;
    margin-bottom: 65px;
    border: none;
    outline: none;
    background-color: $primary-color;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
    &:hover{
      background-color: $color;
      color: rgb(255, 255, 255);
    }
  }

  // .main__info
  &__info {
    padding: 0px 64px 10px 51px;
  }

  // .main__subtitle
  &__subtitle {
    color: rgba(40, 40, 40, 0.8);
    font-family: Lato;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  // .main__title
  &__title {
    max-width: 276px;
    color: rgb(59, 45, 222);
    font-family: Lato;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.11;
  }

  // .main__btn-plus
  &__btn-plus {
    display: none;
  }

  // .main__btn-minus
  &__btn-minus {
    display: none;
  }

  // .main__container
  &__container {
    margin: 0 auto 45px;
  }

  // .main__text
  &__text {
    text-align: center;
  }

  // .main__description
  &__description,
  &__link {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.125;
  }

  // .main__link
  &__link {
    color: rgb(59, 45, 222);
  }
}
