@import "./vars.scss";

.tabs {
  display: flex;
  gap: 10px;
}

.tab-btn {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

.tab-btn.active {
  background: $secondary-color;
  color: rgb(255, 255, 255);
}

.order-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}
