@import "./_vars.scss";

.text-main {
    max-width: 476px;
    margin-left: 87px;
  
    // .text-main__title
    &__title {
      max-width: 268px;
      color: rgb(255, 255, 255);
      font-size: 48px;
      font-weight: 600;
      line-height: 1.46;
      margin-bottom: 31px;
    }
  
    // .text-main__subtitle
    &__subtitle {
      color: $color;
      font-size: 48px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 24px;
    }
  
    // .text-main__desc
    &__desc {
      color: rgb(255, 255, 255);
      font-size: 36px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 46px;
    }
  
    // .text-main__price
    &__price {
      color: rgb(255, 255, 255);
      font-family: Lato;
      font-style: italic;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.13;
    }
  }