@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,italic,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 20px; /* по умолчанию */
}

body {
  line-height: 1;
  font-family: "Poppins";
  background: rgb(203, 199, 255);
}

.main {
  display: flex;
  width: 1480px;
  margin: auto;
  padding: 0 0 137px 0;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 30px;
  box-shadow: 30px 30px 20px 0px rgba(146, 136, 255, 0.4);
  background: rgb(255, 255, 255);
}
.main__wrapper {
  width: 100%;
  padding: 51px 64px 10px 64px;
}
.main__header {
  display: flex;
  gap: 20px;
  margin-left: 13px;
}
.main__btn {
  padding: 12px 42px;
  margin-bottom: 65px;
  border: none;
  outline: none;
  background-color: rgb(192, 187, 255);
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 40px;
  margin-bottom: 65px;
}
.main__info {
  margin-left: -13px;
}
.main__subtitle {
  color: rgba(40, 40, 40, 0.8);
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 12px;
}
.main__title {
  max-width: 276px;
  color: rgb(59, 45, 222);
  font-family: Lato;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;
  margin-bottom: 10px;
}
.main__btn-plus {
  display: none;
}
.main__btn-minus {
  display: none;
}
.main__text {
  text-align: center;
}
.main__description, .main__link {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.125;
}
.main__link {
  color: rgb(59, 45, 222);
}

.sony {
  background: rgb(40, 40, 40);
  padding: 54px 52px 239px;
  max-width: 700px;
  width: 100%;
  border-radius: 0 14px 14px 14px;
  border-right: 15px solid rgb(192, 187, 255);
  border-bottom: 15px solid rgb(192, 187, 255);
  position: relative;
}
.sony__titles {
  margin-bottom: 131px;
}
.sony__title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
.sony__subtitle {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.sony__aside-line {
  border-radius: 20px;
  background: rgb(196, 196, 196);
  width: 8px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 52px;
  transform: translateY(-50%);
}
.sony__aside-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  background: rgb(146, 136, 255);
  width: 8px;
  height: 80px;
}
.sony__btn-video {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  position: absolute;
  bottom: -38px;
  right: 50px;
  border-radius: 10px;
  background: rgb(146, 136, 255);
  padding: 19px 37px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: Lato;
  gap: 14px;
  cursor: pointer;
}
.sony__btn-video img {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 8px 7px;
  transition: all 0.3s ease-in-out 0s;
}
.sony__btn-video:hover img {
  transform: translateX(5px);
}

.text-main {
  max-width: 476px;
  margin-left: 87px;
}
.text-main__title {
  max-width: 268px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.46;
  margin-bottom: 31px;
}
.text-main__subtitle {
  color: rgb(146, 136, 255);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}
.text-main__desc {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 46px;
}
.text-main__price {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.13;
}

.carousel {
  position: relative;
  margin-bottom: 45px;
}
.carousel__picture img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.btn-prev,
.btn-next {
  background: rgb(192, 187, 255);
  padding: 12px 31px;
  position: absolute;
  top: 30%;
}

.btn-prev {
  left: -64px;
  border-radius: 0 30px 30px 0;
}

.btn-next {
  right: -64px;
  border-radius: 30px 0 0 30px;
}/*# sourceMappingURL=style.css.map */